body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #353131;
  margin: 20px;
}
.App {
  text-align: center;
}

h1 {
  color: #e4d86d;
}
.pokemon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.pokemon-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px;
  padding: 20px;
  background-color: #e3e198;
  box-shadow: 0 6px 9px rgba(213, 213, 91, 0.1);
  width: 200px;
  text-align: center;
}
.pokemon-img {
  max-width: 100%;
  height: auto;
}